p {
    font-family: DM-Serif-Display;
    font-size: 25px;
}

h1 {
    font-family: Bebas Neue;
    font-size: 75px;
}

.navbar-expand-lg {
    background-color: #ffd700;
}

.title-color {
    background-color: #B47EDE;
}

.context {
  width: 300px;
  padding: 50px;
  margin: 20px;
}

.cards {
    background-color: white;
    border-color: black;
    border-style: solid;
}

.software {
    background-color: #E4A0F7;
}

.software-title {
    text-align: left;
}

.softwareP {
    text-align: right;
}

.bodytext {
    background-color: #9966CB;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: auto;
    padding: 100px;
    font-size: 25px;
    border-style: solid;
}

.hardware {
    background-color: #9966CB;
}

.future {
    background-color: #B47EDE;
}

.lpt {
    text-align: right;
}

.lptP {
    text-align: left;
}

.lptBORDER {
    border-style: solid;
    border-color: black;
}

.futuep1 {
    border-style: solid;
    border-color: black;
    text-align: left;
}

.futuep2 {
    border-style: solid;
    border-color: black;
    text-align: right;
}

.future2 {
    max-width: 100%;
    height: 900px;
}

